services:
  mongodb:
    image: mongo:7
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: krushna
      MONGO_INITDB_ROOT_PASSWORD: krushna
    restart: unless-stopped
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chatnexus_backend
    ports:
      - "8080:8080"
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      MONGODB_URI: mongodb://krushna:krushna@mongodb:27017/chat_nexus?authSource=admin
      PORT: 8080
    restart: unless-stopped

volumes:
  mongo: {}
